@import "../partials/variables";


header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  @include animate(300ms);


  &:hover,
  &.fixed,
  &.fixed:hover {
    background: $darkgreen;

    & .inner {
      border: 0;
    }

    & .logo img {
      -webkit-filter: grayscale(100%) invert(100%) brightness(500%);
      -moz-filter: grayscale(100%) invert(100%) brightness(500%);
      -ms-filter: grayscale(100%) invert(100%) brightness(500%);
      -o-filter: grayscale(100%) invert(100%) brightness(500%);
      filter: grayscale(100%) invert(100%) brightness(500%);
    }

  }

  &.fixed {
    position: fixed;

    & .nav--item > a {
      font-size: 1em;
      padding: 15px;
    }

    & .logo {
      padding: 5px 15px;
      flex: 0 1 150px;
    }

    & .header-tint {
      display: none;
    }
  }

  &:hover {

    @media (max-width: $mobile-l){
      background: none;
    }

    & .logo img {
      @media (max-width: $mobile-l){  
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
      }
    }
  }

  &:hover .header-tint {
    opacity: 1;
  }

  & .header-tint {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    @include animate(300ms);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    opacity: 0;
  }

  & .inner {
    border-bottom: 1px solid #fff;
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;

    @media (max-width: $mobile-l){
      border: none;
    }
  }

  .logo {
    padding: 5px 15px;
    flex: 1 1 150px;

    @media (max-width: $laptop-s){

    }
  }
}

;

.nav {
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin: 0;
  flex: 10 5 auto;
  display: flex;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;

  &--item {
    flex: 0 1 auto;
    margin-left: 4%;

    &:first-child {
      margin: 0;
    }
    &:hover > a {
      background: $lightgreen;
    }
    a {
      display: block;
      padding: 20px 10px;
      font-size: 1.2em;
      color: #fff;
      text-decoration: none;
      height: 100%;
      @include animate(300ms);
    }
  }
}

