@import "../partials/variables";

.products {
	display: block;

	&--product {
		
		padding: 15px 0;

		& > .inner {
			display: flex;
			flex-wrap: wrap;
		}

		&-left {
			background: $lightgray;

			& > .inner {
			flex-direction: row;

				& .products--product--img {
				// justify-content: flex-end;
				}
			}
		}

		&-right {

			& > .inner {
			flex-direction: row-reverse;

				& .products--product--img {
				// justify-content: flex-start;
				}
			}
		}

		&--name {
			flex: 1 1 100%;
			padding: 15px;

			& * {
				margin: 0;
				color: $lightgreen;
				font-weight: normal;
			}
			h4 {
				font-size: 1.8em;
				line-height: 1em;
			}
			h6 {
				font-size: 1.1em;
				line-height: 1em;
			}
		}

		&--desc {
			font-size: 1.1em;
			flex: 3 1 300px;
			padding: 15px;

			@media (max-width: $mobile-s){
				order: 2;
			}
		}

		&--img {
			display: flex;
			flex: 1 1 300px;
			justify-content: center;
			flex-flow: row nowrap;
  			align-items: center;
			padding: 15px;
			max-height: 550px;
			min-height: 350px;

			img {
				max-height: 520px;
				max-width: 100%;
				width: auto;
				align-self: flex-end;
			}

			@media (max-width: $mobile-m) {
				min-height: 0px;
			}

			@media (max-width: $mobile-s){
				order: 1;
				flex-basis: 100%;
				min-height: 0;
			}
		}
	}
}